<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-mini-footer--social-btn social-btn" href="mailto:{{ .Site.Params.email }}?subject=Hi">
    <i class="material-icons_lg icon ion-email"></i>
    <span class="visuallyhidden">Email</span>
</a>
<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-mini-footer--social-btn social-btn" href="{{ .Site.Params.github }}">
    <i class="material-icons_lg icon ion-social-github"></i>
    <span class="visuallyhidden">Github</span>
</a>
<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-mini-footer--social-btn social-btn" href="{{ .Site.Params.linkedin }}">
    <i class="material-icons_lg icon ion-social-linkedin "></i>                        
    <span class="visuallyhidden">LinkedIn</span>
</a>
